//variables
$color-primary:#ED1A2F;
$color-secondary:#fff8f8;
$color-white:#fff;

$color-gray-dark:#474747;
$color-gray-light:#b9b9b9;

$color-blue-1:#A86465;
$color-blue-2:#C47E7E;
$color-blue-3:#D19F9Eff;
$color-blue-dark:#3f4a56;
